div#gamepad-0 {
    background: url(https://raw.githubusercontent.com/samuelzyx/GamePadViewer/main/XboxOne/images/blue.png) center no-repeat;
    background-size: 100%;
}

.xbox .stick {
    position: absolute;
    background: url(https://raw.githubusercontent.com/samuelzyx/GamePadViewer/main/XboxOne/images/stickblue.png);
    background-position: -85px 0;
    background-size: 168px;
    height: 83px;
    width: 83px;
}
