div#gamepad-0 {
    background: url(https://raw.githubusercontent.com/samuelzyx/GamePadViewer/main/PS4/images/mx.png) center no-repeat;
    background-size: 100%;
}

.ds4 .stick.left{
    position: absolute;
    background-image: url(https://raw.githubusercontent.com/samuelzyx/GamePadViewer/main/PS4/images/sticksgreen.png);
    height: 6em;
    width: 6em;
    background-size: 18em;
}