div#gamepad-0 {
    background: url(https://raw.githubusercontent.com/samuelzyx/GamePadViewer/main/PS1/images/base.png) center no-repeat;
    background-size: 100%;
}

.quadrant.p0 {
    display: none;
}